<nav class="flex fixed w-screen justify-start items-center h-24 bg-gray mb-24">

    <div class="hidden md:flex md:visible ">
        <img src="/images/header.png" class="object-contain h-12 ml-10 mb-2 cursor-pointer" />
    </div>

    <button id="hamburguer-button" class="hamburguer hamburguer--elastic md:invisible ml-10">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    <div class="md:invisible">
        <%= render "layouts/menu" %>
    </div>

    <div class="flex w-full">

        <div class="hidden md:flex items-center mx-16 md:visible">
            <p class="font-bold transition ease-in-out duration-150 hover:text-strong-pink cursor-pointer">Inicio</p>
        </div>
        <div class="hidden md:flex items-center mx-16 md:visible">
            <p class="font-bold transition ease-in-out duration-150 hover:text-strong-pink cursor-pointer">Menú</p>
        </div>
        <div class="hidden md:flex items-center mx-16 md:visible">
            <p class="font-bold transition ease-in-out duration-150 hover:text-strong-pink cursor-pointer">Orden</p>
        </div>
        <div class="hidden md:flex ml-auto mr-10 md:visible">
            <p class="font-bold transition ease-in-out duration-150 hover:text-strong-pink cursor-pointer">Iniciar sesión</p>
        </div>
    </div>

    <%= javascript_pack_tag 'sidebar' %>
</nav>